*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: grey;
    flex-direction: column;
}
button{
    display: flex;
    font-size:120%;
    border-radius: 2em;
    color:black;
    right: 100vh;
    background-color: rgb(174, 170, 170);
}
h2{
    position: relative;
    font-size:6em;
    color: rgb(183, 181, 181);
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below -20px linear-gradient(transparent,rgba(0, 0, 0, 0.267));
}
h2 span{
    animation: animate 5s linear infinite;
}
h2 span:nth-child(even)
{
    animation-delay: 0.4s;
}

.main {
    padding: 10rem;
}
@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color:rgb(11, 11, 11);
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 100px rgb(248, 243, 243),
        0 0 20px gray,
        0 0 40px gray,
        0 0 80px gray,
        0 0 160px gray,
        0 0 400px gray;
    }
}
